<body>
  <div class="container">
    <div class="card">
       <div class="img-box">
          <img src="https://i.pinimg.com/originals/48/0a/a0/480aa0c232053f6a8804de9a8ad5b522.jpg" alt="Moon" title="Moon">
       </div>
       <div class="details">
        <h2>Lorem Ipsum</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. </p>

         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
           dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
           book. </p>
       </div>
    </div>
    <div class="card">
      <div class="img-box">
         <img src="https://i.pinimg.com/originals/69/4a/6d/694a6d1a482c01c150e8b7db0ddb2b61.jpg" alt="Moon" title="Moon">
      </div>
      <div class="details">
       <h2>Lorem Ipsum</h2>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
         book. </p>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book. </p>
      </div>
   </div>
   <div class="card">
    <div class="img-box">
       <img src="https://i.pinimg.com/originals/8f/c4/4b/8fc44b142ad51e5db23cbb67bea95908.jpg" alt="Moon" title="Moon">
    </div>
    <div class="details">
      <h2>Lorem Ipsum</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. </p>

       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
         dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
         book. </p>
    </div>
 </div>
  </div>
</body>
